@font-face {
  font-family:'FuturaPTLight';
  src: url('../fonts/FuturaPT-Light.eot');
  src: url('../fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaPT-Light.woff') format('woff'),
  url('../fonts/FuturaPT-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  }
  @font-face {
  font-family:'FuturaPTMedium';
  src: url('../fonts/FuturaPT-Medium.eot');
  src: url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaPT-Medium.woff') format('woff'),
  url('../fonts/FuturaPT-Medium.ttf') format('truetype');
  font-weight: 500px;
  font-style: normal;
  }
@font-face {
  font-family: 'Futura PT Bold';
  src: url('../fonts/FuturaPT-Bold.eot');
  src: url('../fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaPT-Bold.woff') format('woff'),
  url('../fonts/FuturaPT-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  }

  html, body {
   margin: 0;
   width: 100%;
   height: 100%;
   
   
  }
  #c {
    width: 100%;
    height: 100%;
    
    position: fixed;
    z-index: -1;

  }
 


  


  :root {
  --brand-color: #4d5ae5;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --white-color: #ffffff;
  --press-color: #404bbf;
}



body {
  
  background-color: var(--white-color);
}







.button-hero {

  
  cursor: pointer;
 
height: 50px;
  width: 50px;
 
  border-radius: 50px;
  align-items: center;
  
border: 3px solid rgb(255, 255, 255);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
}

.plus{
  width: 60px;
  height: 60px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.404);
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal {
  background-image: url(../img/12314.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1%;
  position: absolute;
display: flex;
flex-direction: column;
padding-bottom: 1%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
 
border-radius: 10px;
outline: #ffffff;
box-shadow: 5px 5px 5px rgb(255, 255, 255);;
  width: 800px;
  min-height: 478px;
  background-color: #000;
  
z-index: 999;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-form{
  display: flex;
  margin-left: auto;
  flex-direction: column;
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 5px;
  margin-top: 5px;
  width: 24px;
  height: 24px;
  background-color: var(--accent-color);
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:focus,
.modal-close:hover {
  background-color: var(--press-color);
  border: none;
  fill: var(--white-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ====================Modal FORM=================== */
.form-img{
  position: relative;
  height: 750px;
 
}
.phone{
  width: 50px;
  height: 50px;

}
.phone:hover{

}

.instagram{
  width: 50px;
  height: 50px;
}



.modal-title {
  font-family:'Futura PT Bold';

  font-size: 35px;
 margin-left: 55%;

  margin-top: 24px;
  margin-bottom: 34px;

  color: var(--dark-color);

}

.modal-input {

  width: 90%;
  height: 40px;
  margin-right: 200px;

  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.297);

  background-color: transparent;
  outline: none;
  right: 25px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color:chartreuse;
}

.input-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .input-icon {
  fill: var(--brand-color);
}

.modal-item {
  margin-bottom: 8px;
  display: block;

}
.modal-button {
  padding: 16px 32px;
  width: 169px;
  display: block;
  
 
  font-family: 'FuturaPTMedium';
 
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border-radius: 4px;
  background-color: var(--brand-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}

.modal-comment {
  width: 90%;
  min-height: 120px;
  padding: 0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.452);
  outline: none;
  
 
  background-color: transparent;

  margin-left: auto;
  padding-left: 16px;
  padding-top: 8px;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
  border-color:chartreuse;

}

.modal-comment::placeholder {
  position: absolute;
  top: 8px;
  left: 16px;

  font-family:'FuturaPTLight';
  line-height: 1.33;
  letter-spacing: 0.04em;

  color: rgba(117, 117, 117, 0.5);
}

.input-name {
  display: flex;

  margin-bottom: 4px;
  font-family:'FuturaPTLight';
  font-size: 12px;
  line-height: 1.16;
margin-left: auto;
  letter-spacing: 0.01em;
  color: var(--dark-color);
}

.input-wrap {
  position: relative;
  display: block;
margin-left: auto;
}

.input-icon {
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ===========CHECKBOX================== */
.checkbox-wrapper{
  margin-bottom: 10px;
}
.check-text {
  font-family:'FuturaPTLight' ;

  font-size: 12px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #757575;
}

.check-link {
  color: var(--brand-color);
  cursor: pointer;
}

.check-text span {
  display: block;
  width: 16px;
  height: 16px;

  margin-right: 8px;
  border: 1.25px solid var(--dark-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-check:checked + .check-text span {
  background-color: var(--press-color);
  border: none;
  fill: var(--light-color);
}





.header {
  background-color: black;
  display: flex;

}
  



.logo_accordion2{
  display: flex;
width: 100%;
height: 80px;
justify-content: space-between;

}

 
.header_logo{
  display: flex;
 height: 75px;
 padding: 0 0 0 22px;
  
  
 
  
}


.accordion2{
   padding: 0 17px 0 0;
    display: flex;
    width: 160px;
    justify-content: space-between;
    align-items: center;
 }


.setka{           




}

 
  
  button.accordion {
      font-size: 70px;
      height: 71px;
      font-family:'FuturaPTMedium';
      background-color: rgba(28,28,28,0);
      letter-spacing: -0.04em;
      color: rgb(255, 255, 255);
      
      cursor: pointer;
      width: 99%;
border-radius: 20px;   
border-width:3.5px ;
border-color:white ;   

      transition: 1s;
      display: flex;
      align-items: center;
      padding: 0 0 17px 10px;
      margin: 3px 7px 0 7px;
  
  }


 
 




  button.accordion.active,
  button.accordion:hover {
    background-color: rgba(255, 255, 255, 0.521);
    
      
      color: white;
  }

 
  

    
 .contact{

display: flex;
height: 70px;
width: 100%;
align-items: center;
justify-content: space-between;







 }
 .contact1{
  display: flex;
  width: 25%;
 
  

 }
 .indoor {
background: rgba(0, 0, 0, 0);
height: 425px;
display: flex;
flex-wrap: wrap;


  }

.logo_indoor{
  height: 150px;
  position: absolute;

}
  


  
  
   
  .accordion1{ 
    display: flex;
    width: 250px;
    justify-content: space-around;
   
  }
  .sets{
    display: flex;

  }
.nabor1{
  width: 100px;
}
.nabor2{
  width: 100px;
}
    


    

  

  .instagram{
    height: 50px;
    transition: 1s;
  }
  .instagram:hover {
    background-color: rgb(95, 95, 95);
    border-radius: 25px;
    

  }
    
    
    
   

   
    .plus{
      
      height: 42px;
  
      transition: 1s;
    }


    .plus:hover {
      background-color: rgb(95, 95, 95);
      border-radius: 25px;
    
    }
  

  
 
  
  
.phone{height: 50px;
  transition: 1s;
}
.phone:hover{
  background-color: rgb(95, 95, 95);
  border-radius: 25px;
  
}  
  div.panel {
    margin: 10px 10px 10px 10px;
      width: 99%;
      height: auto;
      background: rgba(0, 0, 0, 0);
      display: none;
     
      
  }
  
  div.panel.show {
      display: block;
      background: rgba(0, 0, 0, 0);
     
  }


/*
  .wellcome{
    width: 500px;
    height: 100px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-family:'FuturaPTMedium';
    font-size: 25px;
    background-color:  
    rgba(0, 0, 0, 0);
    border-radius: 25px;
    border-width: 3.5px ;
   border-color: white ;
    
  }
  */
/*банер с фото крітій скейтпарк
*/
.banner-container {
  overflow: hidden;
  position: relative;
  
}
.banner-container ul {
  padding: 0;
  display: flex;
  width: calc(100% + 60px);
  margin-left: -30px;
}
.banner-container li {
  clip-path: polygon(0px 0%, 100% 0%, calc(100% - 60px) 100%, 0% 100%);    
  position: relative;
  margin: 0 -35px;
  width: calc(100% / 14 + 70px); /* 5 - кол-во фотографий */
  transition: width 0.7s ease-in;
}
.banner-container li a {
  display: block;
  background: #000;    
}
.banner-container li a img {
  max-width: none;
  height: 300px;
  width: 100%;
  object-fit: cover;
  opacity: 0.6;
  transition: opacity 0.7s ease-in;
  
}

.banner-container ul li:hover {
  width: 40%;
  delay:0.4s
 
}    
.banner-container ul li:hover a img {
  opacity: 1;
  
}


/*конец банера*/


span.typed {
  font-family: 'FuturaPTLight';
  display: flex;
  align-items: center;
  justify-content: center; 
  color: yellow;
  font-size: 70px;
  
}


/*spisok*/
.spisok{
  list-style-type:none;
display: flex;
gap: 24px;
margin: 0;
padding: 0;

}

.spisok-list{
  

background-color: #5c5c5c83;

box-shadow: 0px 1px 6px rgb(194, 197, 255), 0px 1px 1px rgb(175, 178, 235), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.spisok-img{
width: 275px;
margin-top:50px ;

}
.spisok-text{
  font-family: 'FuturaPTLight';
  font-size: 25px;
 
}

@media(max-width:480px){
  .header_logo{
    padding: 0 0 0 10px;
    height: 35px;
  }
  .logo_accordion2{
    height: 40px;
  }
  .instagram{
  display: none;
  }
  .phone{
    display: none;
  }
  .plus{
    padding: 0;
    height: 35px;
  }
  button.accordion{
    height: 40px;
    font-size: 35px;
    margin: 0;
    padding: 0 0 10px 5px;
  }
  span.typed{
    font-size: 35px;
  }
  .button-hero{
    width: 35px;
    height: 35px;
    align-items: center;


 
  }

  .modal{
    height: 200px;
    width: 200px;
  }
 .input-wrap{
  width: 100px;
 }

}




.photo_location1{
  
}
.photo_location2{
  
}
.photo_location3{
  
}
.photo_location4{
  
}

.photo_location5{
  
}
.photo_location6{
  
  
}
.photo_location7{
  
}

.photo_location8{
  
}

.photo_location9{
  
}

.photo_location10{
  
}



   









  